

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_title %}
    <title>{{ page_title }} | Grocery Point Of Sale System</title>
    {% else %}
    <title>Grocery Point Of Sale System</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'posApp/assets/default/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'posApp/assets/bootstrap/css/bootstrap.min.css' %}">

    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/jvectormap/jquery-jvectormap.css' %}">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/css/demo/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'posApp/assets/material-admin/images/favicon.png' %}" />
    <script src="{% static 'posApp/assets/default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'posApp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'posApp/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'posApp/assets/bootstrap/js/popper.min.js' %}"></script>
</head>

<body>
    <script src="{% static 'posApp/assets/material-admin/js/preloader.js' %}"></script>
    <div class="body-wrapper">
        <div class="main-wrapper">
            <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
                <main class="auth-page">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner justify-content-center">
                            <div class="mdc-layout-grid__cell--span-2-desktop"></div>
                            <div class="mdc-card mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-1-tablet mb-5">
                                <h3 class="text-center">Reset Your Password</h3>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__inner">
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                <div class="mdc-card">
                                    {% block content %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username" name="username" value="{{ username }}" readonly>
                                            <small id="usernameHelp" class="form-text text-muted">This is your username.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" value="{{ email }}" readonly>
                                        </div>
                                        
                                        <div class="form-group">
                                            {{ form.new_password1.errors }}
                                            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                                            <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            {{ form.new_password2.errors }}
                                            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                                            <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" placeholder="Confirm New Password">
                                        </div>
                                        <button type="submit" class="mdc-button mdc-button--outlined w-100">Reset Password</button>
                                    </form>
                                    <!-- Manejo de mensajes -->
                                    {% if messages %}
                                        <div class="alert alert-info">
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}{% endblock %}
                                </div>
                            </div>
                            <div class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>

</html>
