{% extends 'base.html' %}

{% block pageContent %}
<style>
  #miTabla td {
    padding: 0.5rem; 
    font-size: 0.9rem; 
  }
</style>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card py-2">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-title mb-0">Lista de Proveedores</h4>
      <div class="text-start">
        <a href="{% url 'purchase:supplier_create' %}" class="btn btn-primary btn-sm">Nuevo Proveedor</a>
      </div>
    </div>
  </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card">
    <div class="table-responsive">
      <table id="miTabla" class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Nombres</th>
            <th class="text-center">Informacion de Contacto</th>
            <th class="text-center">Fecha Registrado</th>
            <th class="text-center">Última Actualización</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers %}
            <tr>
              <td class="text-center">{{ supplier.id }}</td>
              <td class="text-center">{{ supplier.name }}</td>
              <td class="text-center">{{ supplier.contact_info }}</td>
              <td class="text-center">{{ supplier.date_added|date:'d-m-Y H:i' }}</td>
              <td class="text-center">{{ supplier.date_updated|date:'d-m-Y H:i' }}</td>
              
              <td class="text-center">
                <a href="{% url 'purchase:supplier_update' supplier.pk %}" class="btn btn-primary btn-sm" title="Editar">
                    <i class="mdi mdi-pencil"></i>
                </a>
                <a href="{% url 'purchase:supplier_delete' supplier.pk %}" class="btn btn-danger btn-sm" title="Eliminar">
                    <i class="mdi mdi-delete"></i>
                </a>
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block ScriptBlock %}
  <script>
    $(document).ready(function() {
      $('#miTabla').DataTable({
        "paging": true,
        "ordering": true,
        "searching": true,
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "order": [[4, "desc"]], 
        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis']
      }).buttons().container().appendTo('#miTabla_wrapper .col-md-6:eq(0)');
    });
  </script>
{% endblock %}
