{% extends 'base.html' %}

{% block pageContent %}
<style>
  #miTabla td {
    padding: 0.5rem; 
    font-size: 0.9rem;
    text-align: center;
  }
</style>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card py-2">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="card-title mb-0">Productos asociados a {{ category.name }}</h4>
    </div>
  </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card">
    <div class="table-responsive">
      <table id="miTabla" class="table table-striped table-bordered datatable">
        <thead>
          <tr>
            <th>Nombre del Producto</th>
            <th>Fecha de Creación</th>
            <th>Costo</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.date_added }}</td>
              <td>{{ product.cost }}</td>
              <td>{{ product.price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block ScriptBlock %}
  <script>
    $(document).ready(function() {
      $('#miTabla').DataTable({
        "paging": true,
        "ordering": true,
        "searching": true,
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "order": [[1, "desc"]],  
        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis']
      }).buttons().container().appendTo('#miTabla_wrapper .col-md-6:eq(0)');
    });
  </script>
{% endblock %}
