{% load humanize %}
<div class="container-fluid">
    <form action="" id="checkout-form">
        <div class="form-group mb-3">
            <label for="payable_amount" class="control-label">Monto a Pagar</label>
            <input type="text" id="payable_amount" class="form-control form-control-lg rounded-0 text-end" value="{{ grand_total|intcomma }}" required disabled>
        </div>
        <div class="form-group mb-3">
            <label for="tendered_amount" class="control-label">Monto recibido</label>
            <input type="number" step="any" id="tendered_amount" class="form-control form-control-lg rounded-0 text-end" value="0" required>
        </div>
        <div class="form-group mb-3">
            <label for="payment_change" class="control-label">Cambio/Vuelto</label>
            <input type="text" id="payment_change" class="form-control form-control-lg rounded-0 text-end" value="{{ 0|intcomma }}" required disabled>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#tendered_amount').on('input keypress keyup keydown', function() {
            var tendered_amount = $('#tendered_amount').val()
            var payable = $('#payable_amount').val()
            tendered_amount = tendered_amount.replace(/,/gi, '')
            payable = payable.replace(/,/gi, '')
            var change = 0
            tendered_amount = tendered_amount > 0 ? tendered_amount : 0;
            $('[name="tendered_amount"]').val(tendered_amount)
            change = parseFloat(tendered_amount) - parseFloat(payable)
            console.log(tendered_amount, payable)
            $('#payment_change').val(parseFloat(change).toLocaleString('en-US'))
            $('[name="amount_change"]').val(change)

        })
        $('#checkout-form').submit(function(e) {
            e.preventDefault();
            if ($('[name="amount_change"]').val() < 0) {
                alert("Monto recibido debajo de Monto a pagar.")
                return false;
            }
            $('#pos-form').submit()
        })
    })
</script>