{% extends "base.html" %} 
{% load static %}{% load humanize %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0">Pagina de Inicio</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--success">
        <div class="card-inner">
            <h5 class="card-title">
                <a href="{% url 'inventory:category_list' %}">Categorias</a>
            </h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ categories|intcomma }}</h5>
            <p class="tx-12 text-muted">Cantidad de Categorias</p>
            
            <div class="card-icon-wrapper">
                <i class="material-icons">list</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--primary">
        <div class="card-inner">
            <h5 class="card-title">
                <a href="{% url 'inventory:product_list' %}">Productos</a>
            </h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ products|intcomma }}</h5>
            <p class="tx-12 text-muted">Cantidad de Productos</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">label</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--info">
        <div class="card-inner">
            <h5 class="card-title">
                <a href="{% url 'pos:sales-page' %}">Transacciones de Hoy</a>
            </h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ transaction|intcomma }}</h5>
            <p class="tx-12 text-muted">Cantidad de las Transacciones de Hoy</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">receipt</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--warning">
        <div class="card-inner">
            <h5 class="card-title">Ventas de Hoy</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_sales|intcomma }}</h5>
            <p class="tx-12 text-muted">Ventas Totales de Hoy</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-cash-multiple"></i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--warning">
        <div class="card-inner">
            <h5 class="card-title">
                <a href="{% url 'purchase:supplier_list' %}">Transacciones de Hoy</a>
            </h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_sales|intcomma }}</h5>
            <p class="tx-12 text-muted">Ventas Totales de Hoy</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-cash-multiple"></i>
            </div>
        </div>
    </div>
</div>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
    <div class="mdc-card info-card info-card--warning">
        <div class="card-inner">
            <h5 class="card-title">
                <a href="{% url 'report:mix_report' %}">Reportes Diario de Transacciones</a>
            </h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_sales|intcomma }}</h5>
            <p class="tx-12 text-muted">Ventas Totales de Hoy</p>
            <div class="card-icon-wrapper">
                <i class="mdi mdi-cash-multiple"></i>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}